<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title>api-viewer</title>
  </head>
  <body>
    <div id="mod-app"></div>
  </body>
</html>